section{
    width: 100%;
    height: auto;
    min-height: 40vh;
    background-color: #ddddddab;
    padding: 15px;
}
section iframe{
    width: 80%;
    height: 60vh;
    margin-left: 10%;
    padding: 20px;
}